.glass-segmented {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.glass-segmented .ant-segmented-item {
  background: transparent !important;
  border: none !important;
  color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.glass-segmented .ant-segmented-item-selected {
  background: transparent !important;
  box-shadow: none !important;
}

.glass-segmented .ant-segmented-item-label {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}
